@import "~bootstrap/scss/bootstrap";

/* =============
   global styles
   ============= */

/* branding colours */

$primaryGreen: #126846;
$accentGreen: #61c193;
$white: #fafafa;
$lightGray: #f4f4f4;
$gray: #e0e0e0;
$black: #262626;

/* links */
a {
  color: $accentGreen;
  &:hover,
  &:focus {
    color: $primaryGreen;
  }
}

/* =============
   typography
   ============= */

h1 {
  padding-top: 1em;
  margin-bottom: 50px;
}

/* =============
   layouts
   ============= */

/* basic */

body {
  background-color: $lightGray;
  color: $black;
}

#main-container {
  padding-top: 25px;
}

/* header */

header {
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

/* navbar */

.navbar-brand {
  padding-top: 0;
  img {
    height: 50px;
  }
}

.navbar-toggler {
  border: 0;
  color: $primaryGreen;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(18, 104, 70)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* footer */

footer {
  padding: 15px 0 5px 0;
  text-align: center;
}

/* landing page */

#landing-page {
  text-align: center;
  #hero {
    padding: 100px;
    background-image: url("../images/banner01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    #hero-detail {
      h1,
      h3 {
        color: $white;
        text-shadow: 2px 2px 5px $black;
      }
      h1 {
        margin-bottom: 25px;
        font-size: 3em;
        font-weight: bold;
      }
      h3 {
        margin: 25px 0 50px 0;
      }
    }
  }
  #about,
  #features {
    padding-bottom: 25px;
    h2 {
      padding-top: 1em;
      margin-bottom: 50px;
      font-size: 2.5em;
    }
    p {
      font-size: 1.1em;
    }
  }
  #about {
    background-color: $white;
    .about-item {
      margin-bottom: 25px;
    }
    svg {
      color: $primaryGreen;
      margin-bottom: 15px;
    }
  }
  #features {
    .feature-row {
      margin-bottom: 25px;
      .feature-image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 150px;
        }
      }
      .feature-detail {
        text-align: left;
      }
    }
  }
  footer {
    background-color: $black;
    color: $white;
  }
}

/* login & signup */

#login,
#signup {
  form {
    padding: 45px;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 5px;
    h1 {
      padding-top: 0;
      padding-bottom: 25px;
    }
  }
  p {
    margin-top: 15px;
  }
}

/* =============
   components
   ============= */

/* buttons */

.btn-primary {
  @include button-variant($primaryGreen, $primaryGreen);
}

.btn-light {
  @include button-variant($white, $white);
  font-weight: 500;
  color: $primaryGreen;
  &:hover,
  &:focus {
    color: $primaryGreen;
  }
}
